{%- render 'section-content-hero', itemType: section -%}

{% schema %}
{
  "name": {
    "cs": "Obrázek s textovým překryvem",
    "da": "Billede med tekstoverlejring",
    "de": "Foto mit überlegtem Text",
    "en": "Image with text overlay",
    "es": "Imagen con texto superpuesto",
    "fi": "Kuva päällä olevalla tekstillä",
    "fr": "Image avec calque texte",
    "it": "Immagine con testo",
    "ja": "テキストオーバーレイ付き画像",
    "ko": "텍스트 오버레이 포함 이미지",
    "nb": "Bilde med tekstoverlegg",
    "nl": "Foto met tekstoverlay",
    "pl": "Obraz z nakładką tekstową",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com sobreposição de texto",
    "sv": "Bild med textöverlagring",
    "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
    "tr": "Metin katmanı içeren görsel",
    "vi": "Hình ảnh có lớp phủ văn bản",
    "zh-CN": "带文本叠加的图片",
    "zh-TW": "附文字疊加層的圖片"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image",
      "info": "Optional override"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_layout",
      "label": "Layout",
      "default": "full_width",
      "options": [
        {
          "label": "Full width",
          "value": "full_width"
        },
        {
          "label": "Fixed width",
          "value": "fixed_width"
        },
        {
          "label": "Page width",
          "value": "page_width"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "label": "Adapt to content",
          "value": "content"
        },
        {
          "label": "Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Extra Small",
          "value": "x-small"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra Large",
          "value": "x-large"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pre Heading"
    },
    {
      "type": "checkbox",
      "id": "pretitle_is_page_title",
      "default": false,
      "label": "Use pre heading as page title (h1 tag will be used)"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    {
      "type": "checkbox",
      "id": "title_is_page_title",
      "default": false,
      "label": "Use heading as page title (h1 tag will be used)"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Heading color",
      "default": "#FFFFFF"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_link_target_blank",
      "label": "Enable Target Blank for Button Link",
      "default": false
    },
    {
      "type": "color",
      "id": "content_bg",
      "label": "Content background color"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Image with text overlay"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
