/*============================================================================
  #PASSWORD
==============================================================================*/

.password-page {
  display: table;
  height: 100%;
  width: 100%;
  color: #152238;
  background-color: #ffffff;
  background-size: cover;
}
.password-form-message {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.password-header {
  height: 85px;
  display: table-row;
}
.password-header__inner {
  display: table-cell;
  vertical-align: middle;
}
.password-login {
  padding: 0 30px;
  text-align: right;
}
.password-content {
  text-align: center;
}
.password-content--rte {
  margin-bottom: 35px;
}
.password-content__title {
  display: block;
  margin-bottom: 82.5px;
}
.password-main {
  display: table-row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.password-main__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 27.5px 55px;
}
.password-message {
  max-width: 500px;
  margin: 82.5px auto 27.5px;
}
.password__form-heading {
  margin-bottom: 55px;
}
.password-social-sharing {
  margin-top: 82.5px;
}
