.site-header__logo {
  margin: 17px 0 0;
}
@media (min-width: 993px) {
  .site-header__logo {
    margin: 8px 0 0;
  }
}
.site-header__logo-link {
  display: inline-block;
  word-break: break-word;
}
.site-header__logo-image {
  display: block;
  width: 140px;
}
@media (min-width: 993px) {
  .site-header__logo-image {
    width: 160px;
    margin: 0 auto;
    height: 57px;
    margin-top: 8px;
  }
}
@media (min-width: 1201px) {
  .site-header__logo-image {
    width: 260px;
  }
}
.site-header__logo-image img {
  width: 100%;
}
.site-header__logo img {
  display: block;
}
.site-header__icon-image {
  filter: invert(1);
}
.site-header__icon-image,
.site-header__icon-wrapper .icon-search {
  display: block;
  width: 30px;
  height: 32px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 auto 5px;
  transition: transform 0.2s;
}
@media (min-width: 993px) {
  .site-header__icon-image,
  .site-header__icon-wrapper .icon-search {
    width: 30px;
  }
}
.site-header__icon-wrapper .icon-search {
  stroke: #4783b5;
  stroke-width: 2px;
}
.site-header__icon-wrapper a:not([disabled]):focus,
.site-header__icon-wrapper a:not([disabled]):hover {
  color: #fff;
}
.site-header__icon-wrapper a:not([disabled]):focus .site-header__icon-image,
.site-header__icon-wrapper a:not([disabled]):hover .site-header__icon-image {
  transform: translateY(-3px);
}
.site-header__icon-wrapper .site-header__search-toggle:focus,
.site-header__icon-wrapper .site-header__search-toggle:hover {
  color: #fff;
}
.site-header__icon-wrapper .site-header__search-toggle:focus .icon-search,
.site-header__icon-wrapper .site-header__search-toggle:hover .icon-search {
  transform: translateY(-3px);
}
.site-header__icons-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1320px;
  padding: 20px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.site-header__account,
.site-header__cart,
.site-header__search {
  position: relative;
}
@media only screen and (min-width: 1400px) {
  .site-header__search.site-header__icon {
    display: block;
  }
}
.site-header__cart-count {
  font-size: 12px;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  letter-spacing: 0;
  background-color: #4783b5;
  color: #fff;
  position: absolute;
  border-radius: 100%;
  line-height: 18px;
  width: 18px;
  height: 18px;
  right: 0px;
  top: 20px;
  font-weight: 800;
  transition: background 0.2s;
}
@media (min-width: 993px) {
  .site-header__cart-count {
    right: 8px;
  }
}
.site-header__cart {
  transition: color 0.2s;
}
.announcement-bar {
  z-index: 10;
  position: relative;
  text-align: center;
}
.announcement-bar__link {
  display: block;
}
.announcement-bar__text {
  display: block;
  padding: 9px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.announcement-bar__slider [data-slider-item] {
  display: none;
}
.announcement-bar__slider [data-slider-item].slideshow__slide--active {
  display: block;
}
@media (min-width: 993px) {
  .site-nav__wrap {
    display: contents;
  }
}
.site-nav {
  position: relative;
  padding: 0;
  text-align: center;
  margin: 25px 0;
}
@media (min-width: 993px) {
  .site-nav {
    display: contents;
  }
}
.site-nav a {
  padding: 0 6px;
  line-height: 70px;
  height: 70px;
  font-size: 12px;
}
@media (min-width: 1201px) {
  .site-nav a {
    padding: 0 20px;
  }
}
.site-nav__link {
  display: block;
  white-space: nowrap;
  color: #fff;
}
.site-nav__link:focus,
.site-nav__link:not([disabled]):hover {
  color: #df9978;
}
.site-nav--centered .site-nav__link {
  padding-top: 0;
}
.site-nav__link .icon-chevron-down {
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.5rem;
}
.site-header__icons,
.site-nav__label {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media (min-width: 1201px) {
  .site-header__icons,
  .site-nav__label {
    letter-spacing: 5.6px;
  }
}
.site-nav__link--button {
  border: none;
  background-color: transparent;
  padding: 3px 10px;
}
.mobile-nav--open .icon-close {
  display: none;
}
.site-header {
  background-color: #152238;
}
.site-header__icons {
  position: relative;
  white-space: nowrap;
  background: #4783b5;
  border-bottom: 1px solid #4783b5;
  font-size: 11px;
  line-height: 18px;
}
@media (max-width: 992px) {
  .site-header__icons {
    font-size: 7px;
    letter-spacing: 2.8px;
  }
}
.site-header__icons a {
  display: block;
  color: #fff;
  padding: 0 10px;
}
@media (max-width: 992px) {
  .site-header__icons a {
    padding: 0 3px;
  }
}
.site-header__icon-active a {
  color: #df9978;
}
.site-header__icon-active .site-header__icon-image {
  filter: hue-rotate(220deg) invert(80%);
}
.site-header__icon {
  color: #fff;
}
.site-header__account,
.site-header__cart {
  position: relative;
  padding: 0 6px;
  line-height: 70px;
  height: 70px;
  white-space: nowrap;
}
@media (min-width: 1201px) {
  .site-header__account,
  .site-header__cart {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .site-header__account,
  .site-header__cart {
    color: #df9978;
  }
  .site-header__account .site-header__icons,
  .site-header__account .site-nav__label,
  .site-header__cart .site-header__icons,
  .site-header__cart .site-nav__label {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
  }
}
.site-header__account.site-header__active,
.site-header__cart.site-header__active {
  background: #4783b5;
}
.site-header__account.site-header__active,
.site-header__account:not([disabled]):hover,
.site-header__cart.site-header__active,
.site-header__cart:not([disabled]):hover {
  color: #fff;
}
.site-header__account.site-header__active .site-header__cart-count,
.site-header__account:not([disabled]):hover .site-header__cart-count,
.site-header__cart.site-header__active .site-header__cart-count,
.site-header__cart:not([disabled]):hover .site-header__cart-count {
  background: #df9978;
}
.site-header__account:focus .site-header__icons,
.site-header__account:focus .site-nav__label,
.site-header__account:not([disabled]):hover .site-header__icons,
.site-header__account:not([disabled]):hover .site-nav__label {
  color: #df9978;
}
@media (max-width: 992px) {
  .site-header__account {
    margin-left: auto;
  }
}
.site-header__cart {
  color: #df9978;
  padding: 0 20px 0 6px;
}
@media (max-width: 992px) {
  .site-header__cart {
    padding: 0 10px;
  }
}
.icon-cart,
.icon-login {
  width: 27px;
  height: 24px;
  transform: translateY(4px);
  margin-left: 10px;
  vertical-align: -0.125em;
}
@media (max-width: 992px) {
  .icon-cart,
  .icon-login {
    margin-left: 0;
  }
}
.site-header__search {
  position: relative;
}
.site-header__search.site-header__icon {
  display: none;
}
.site-header__account {
  position: relative;
}
@media only screen and (min-width: 1400px) {
  .site-header__account,
  .site-header__cart,
  .site-nav a {
    padding: 0 20px;
  }
  .site-header__search.site-header__icon {
    display: block;
  }
}
.site-header__search-toggle {
  display: block;
  text-transform: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;
  padding: 0 3px;
}
.site-header__search-toggle:hover {
  color: #fff;
}
@media (min-width: 993px) {
  .site-header__search-toggle {
    padding: 0 10px;
  }
}
.site-header__cart-title {
  margin: -1px;
  margin-right: 3px;
}
.site-header__cart-title,
.site-header__search-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  display: block;
  vertical-align: middle;
}
.site-header__search-title {
  margin: -1px;
}
.site-header__menu {
  width: 52px;
  height: 52px;
  padding: 10px;
  display: none;
  color: #df9978;
  margin-top: auto;
  margin-bottom: auto;
}
.site-header__menu:focus,
.site-header__menu:not([disabled]):hover {
  color: #df9978;
}
.site-header__menu .icon {
  width: 100%;
  height: 100%;
}
.site-header__mobile-nav {
  z-index: 11;
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 12px;
}
@media (min-width: 993px) {
  .site-header__mobile-nav {
    -ms-flex-align: center;
    align-items: center;
  }
}
.stripe {
  background-image: var(--stripe);
  height: 8px;
  width: 100%;
  background-position: 50%;
  background-size: cover;
}
.site-footer .stripe {
  height: 10px;
}
.stripe.stripe-on-page {
  max-width: 1380px;
  margin: auto;
}
@media (max-width: 992px) {
  .site-header__icon {
    display: block;
  }
}
.float-wrap {
  position: relative;
}
@media (min-width: 993px) {
  .float-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
  }
  .announcement-bar__wrapper {
    margin-top: 174px;
  }
}

/**** MOBILE NAV ****/


.mobile-nav {
  display: block;
  transform: translateZ(0);
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
}
.mobile-nav__link {
  display: block;
  color: #4783b5;
  width: 100%;
  padding: 26px 23px;
  margin: 0;
  font-size: 14px;
  position: relative;
}
.mobile-nav__sublist-link {
  display: block;
  width: 100%;
  padding: 15px 30px;
  font-size: 16px;
}
.mobile-nav__sublist-link:not(.mobile-nav__sublist-header) {
  padding-left: 70px;
  padding-right: 30px;
}
.mobile-nav__item {
  display: block;
  width: 100%;
}
.mobile-nav__item .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 14px;
  width: 14px;
  margin: -6px 0 0 -7px;
}
.mobile-nav__support {
  margin-top: 35px;
}
.mobile-nav__support .icon {
  position: static;
  vertical-align: -0.225em;
  width: 1.33em;
  line-height: 0.75em;
  margin-right: 14px;
}
.mobile-nav__support .mobile-nav__link {
  font-family: HkNova, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
}
.mobile-nav__return {
  border-right: 1px solid #ebebeb;
}
.mobile-nav__return-btn {
  position: relative;
  padding: 24px 0;
  width: 55px;
}
.mobile-nav__icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 22px;
  padding-right: 22px;
  pointer-events: none;
  overflow: hidden;
}
.mobile-nav__table {
  display: table;
  width: 100%;
}
.mobile-nav__table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  text-align: left;
  white-space: normal;
}
.mobile-nav__toggle-button {
  padding: 20px 15px;
}
.mobile-nav__dropdown {
  position: absolute;
  background-color: #ffffff;
  z-index: 8;
  width: 100%;
  top: 0;
  right: -100%;
  display: none;
}
.mobile-nav__dropdown.is-closing {
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  opacity: 0.99;
}
.mobile-nav__dropdown .mobile-nav__sublist-header {
  font-family: HkNova, sans-serif;
  font-style: normal;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.mobile-nav__dropdown .mobile-nav__sublist-header--main-nav-parent {
  color: #152238;
}
.mobile-nav-wrapper {
  transform: translateX(100%);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  display: none;
  overflow: hidden;
  width: 100%;
  z-index: 15;
}
.mobile-nav-wrapper.js-menu--is-open {
  display: block;
}
.sub-nav--is-open .mobile-nav {
  transform: translate3d(-100%, 0, 0);
}
.third-nav--is-open .mobile-nav {
  transform: translate3d(-200%, 0, 0);
}
.mobile-nav__link--active .mobile-nav__label {
  border-bottom-color: #152238;
}
.is-active + .mobile-nav__dropdown {
  display: block;
  opacity: 1;
}
.mobile-nav--close .icon-hamburger {
  display: none;
}
@media only screen and (max-width: 989px) {
  .site-nav__link--button {
    font-size: 15px;
  }
}

.site-nav--centered {
  padding-bottom: 22px;
}
.site-nav__link.site-nav--active-dropdown {
  border: 1px solid #ebebeb;
  border-bottom: 1px solid transparent;
  z-index: 2;
}
.site-nav__link:focus .site-header__icons,
.site-nav__link:focus .site-nav__label,
.site-nav__link:not([disabled]):hover .site-header__icons,
.site-nav__link:not([disabled]):hover .site-nav__label {
  border-bottom-color: #152238;
}
.site-nav__link--button:focus,
.site-nav__link--button:hover {
  color: var(--color-text-focus);
}
.site-nav--has-dropdown {
  position: relative;
}
.site-nav--has-centered-dropdown {
  position: static;
}
.site-nav__dropdown {
  display: none;
  position: absolute;
  padding: 11px 30px 11px 0;
  margin: 0;
  z-index: 7;
  text-align: left;
  border: 1px solid #ebebeb;
  background: #ffffff;
  left: -1px;
  top: 41px;
}
.site-nav__dropdown .site-nav__link {
  padding: 4px 15px 5px;
}
.site-nav__dropdown li {
  display: block;
}
.site-nav__dropdown--centered {
  width: 100%;
  padding: 0;
  text-align: center;
}
.site-nav__childlist {
  display: inline-block;
  background: #ffffff;
  padding: 11px 17px;
  text-align: left;
}
.site-nav__childlist-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: -15px;
}
.site-nav__childlist-item {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: 15px;
}
.site-nav__child-link--parent {
  font-weight: 700;
  margin: 4px 0;
}
.site-nav--active {
  background: #4783b5;
  position: relative;
}
.site-nav--active:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 8px;
  background: #4783b5;
}
.site-nav--active .site-nav__link:not([disabled]):hover {
  color: #fff;
}
.site-nav--active-dropdown .site-nav__dropdown {
  display: block;
}
.site-nav__dropdown--right:not(.site-nav__dropdown--centered) {
  right: 0;
  left: unset;
}
.site-nav__dropdown--left:not(.site-nav__dropdown--centered) {
  left: 0;
}