.image-with-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.image-with-text__image {
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  min-width: 320px;
}
.image-with-text__text {
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}