.logo-bar {
  list-style: none;
  text-align: center;
  margin-bottom: -35px;
}
.logo-bar__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 160px;
  margin: 0 27.5px 35px;
}
.logo-bar__image {
  display: block;
  margin: 0 auto;
}
.logo-bar__link {
  display: block;
}
@media only screen and (min-width: 750px) {
  .logo-bar--large {
    margin-bottom: -55px;
  }
  .logo-bar__item--large {
    margin-bottom: 55px;
  }
}
