{%- case page.handle -%}
  {%- when 'drew-brees' -%}
    {%- section 'page-content' -%}
  {%- when 'running' -%}
    {%- section 'page-content-running' -%}
  {%- when 'fathers-day' -%}
    {%- section 'page-content-fathers-day' -%}
  {%- when 'home' -%}
    {%- section 'page-content-benefits' -%}
  {%- when 'masks' -%}
    {%- section 'page-content-masks' -%}
  {%- when 'arthritis' -%}
    {%- section 'page-content-arthritis' -%}
  {%- when 'gardening' -%}
    {%- section 'page-content-gardening' -%}
  {%- when 'sandbox' -%}
    {%- section 'page-content-sandbox' -%}
  {%- when 'knee-compare' -%}
    {%- section 'page-content-knee-compare' -%}
  {%- when 'travel' -%}
    {%- section 'page-content-travel' -%}
  {%- when 'gloves-compare' -%}
    {%- section 'page-content-gloves-compare' -%}
  {%- when 'recovery-day' -%}
    {%- section 'page-content-recovery-day' -%}
  {%- when 'arch-support' -%}
    {%- section 'page-content-arch-support' -%}
  {%- when 'copper-kills-odor' -%} 
    {%- section 'page-content-copper-kills-odor' -%}
  {%- when 'gym-essentials' -%} 
    {%- section 'page-content-gym-essentials' -%}
  {%- when 'back-pain' -%}
    {%- section 'page-content-back-pain' -%}
  {%- when 'back-to-school' -%}
    {%- section 'page-content-back-to-school' -%}
  {%- when 'base-layers' -%}
    {%- section 'page-content-base-layers' -%}
  {%- when 'bunion-relief-kit' -%}
    {%- section 'page-content-bunion-relief-kit' -%}
  {%- when 'diy' -%}
    {%- section 'page-content-diy' -%}
  {%- when 'full-finger-gloves' -%}
    {%- section 'page-content-full-finger-gloves' -%}
  {%- when 'full-leg-sleeve' -%}
    {%- section 'page-content-full-leg-sleeve' -%}
  {%- when 'gloves' -%}
    {%- section 'page-content-gloves' -%}
  {%- when 'half-finger-gloves' -%}
    {%- section 'page-content-half-finger-gloves' -%}
  {%- when 'original-arch-support' -%}
    {%- section 'page-content-original-arch-support' -%}
  {%- when 'posture-corrector' -%}
    {%- section 'page-content-posture-corrector' -%}
  {%- when 'powerknit-knee-sleeve' -%}
    {%- section 'page-content-powerknit-knee-sleeve' -%}
  {%- when 'powerknit' -%}
    {%- section 'page-content-powerknit' -%}
  {%- when 'recovery-back-brace' -%}
    {%- section 'page-content-recovery-back-brace' -%}
  {%- when 'recovery-calf-sleeves' -%}
    {%- section 'page-content-recovery-calf-sleeves' -%}
  {%- when 'recovery-elbow-sleeve' -%}
    {%- section 'page-content-recovery-elbow-sleeve' -%}
  {%- when 'recovery-knee-sleeve' -%}
    {%- section 'page-content-recovery-knee-sleeve' -%}
  {%- when 'recovery-shoulder-brace' -%}
    {%- section 'page-content-recovery-shoulder-brace' -%}
  {%- when 'sleeves' -%}
    {%- section 'page-content-sleeves' -%}
  {%- when 'wrist-brace' -%}
    {%- section 'page-content-wrist-brace' -%}
  {%- when 'xmas-in-july' -%}
    {%- section 'page-content-xmas-in-july' -%}
  {%- when 'youth-sports' -%}
    {%- section 'page-content-youth-sports' -%}
  {%- when 'press' -%}
    {%- section 'page-content-press' -%}
  {%- when 'vip' -%}
    {%- section 'page-content-vip' -%}
  {%- when 'new-purchasers' -%}
    {%- section 'page-content-new-purchasers' -%}
  {%- when 'amazonpay' -%}
    {%- section 'page-content-amazonpay' -%}
  {%- when 'gift-guide' -%}
    {%- section 'page-content-gift-guide' -%}
  {%- when 'black-friday' -%}
    {%- section 'page-content-black-friday' -%}
  {%- when 'cyber-monday' -%}
    {%- section 'page-content-cyber-monday' -%}
  {%- when 'quitters-day' -%}
    {%- section 'page-content-quitters-day' -%}
  {%- when 'alexa' -%}
    {%- section 'page-content-alexa' -%}
  {%- when 'greatness' -%}
    {%- section 'page-content-greatness' -%}
  {%- when 'warehouse-sale' -%}
    {%- section 'page-content-warehouse-sale' -%}
  {%- when 'plantar-fasciitis' -%}
    {%- section 'page-content-plantar-fasciitis' -%}
  {%- when 'rsvp' -%}
    {%- section 'page-content-rsvp' -%}
  {%- when 'plantar-fasciitis-night-sock' -%}
    {%- section 'page-content-plantar-fasciitis-night-sock' -%}
  {%- when 'strength-to-heal' -%}
    {%- section 'page-content-strength-to-heal' -%}
  {%- when 'triple-crown-sports' -%}
    {%- section 'page-content-triple-crown-sports' -%}
  {%- when 'coppervibe' -%}
    {%- section 'page-content-coppervibe' -%}
  {%- when 'knee-pain' -%}
    {%- section 'page-content-knee-pain' -%}
  {%- when 'shoulder-pain' -%}
    {%- section 'page-content-shoulder-pain' -%}
  {%- when 'foot-pain' -%}
    {%- section 'page-content-foot-pain' -%}
  {%- when 'ankle-pain' -%}
    {%- section 'page-content-ankle-pain' -%}
  {%- when 'elbow-pain' -%}
    {%- section 'page-content-elbow-pain' -%}
  {%- when 'hand-pain' -%}
    {%- section 'page-content-hand-pain' -%}
  {%- when 'copper-compression-socks' -%}
    {%- section 'page-content-copper-compression-socks' -%}
  {%- when 'pain-relief-solutions' -%}
    {%- section 'page-content-pain-relief-solutions' -%}
  {% else %}
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <div class="section-header text-center">
            <h1>{{ page.title }}</h1>
          </div>

          <div class="rte">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
{%- endcase -%}
